# Python
__pycache__/
*.pyc
.venv/
.env
.env.*

# Node / Frontend (if any)
node_modules/

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# Mac
.DS_Store

# Build artifacts
dist/
build/
*.zip
