components:
  schemas:
    CostData:
      properties:
        daily_costs:
          items:
            $ref: '#/components/schemas/DailyCost'
          type: array
        service_breakdown:
          type: object
        total_cost:
          type: number
      type: object
    DailyCost:
      properties:
        cost:
          type: number
        date:
          format: date
          type: string
        services:
          type: integer
      type: object
    Optimization:
      properties:
        confidence:
          type: number
        description:
          type: string
        id:
          type: string
        potential_savings:
          type: number
        priority:
          type: string
        title:
          type: string
        type:
          type: string
      type: object
info:
  contact:
    email: support@cost-optimizer.com
    name: Cost Optimizer Team
  description: Comprehensive API for AWS cost optimization and management
  title: AWS Cost Optimizer API
  version: 1.0.0
openapi: 3.0.0
paths:
  /v1/accounts:
    get:
      parameters:
      - description: Filter by account type
        in: query
        name: account_type
        required: false
        schema:
          type: string
      - description: Filter by cost center
        in: query
        name: cost_center
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      summary: Get multi-account information
  /v1/alerts:
    get:
      parameters:
      - description: Filter by alert status
        in: query
        name: status
        required: false
        schema:
          type: string
      - description: Filter by severity level
        in: query
        name: severity
        required: false
        schema:
          type: string
      - description: Number of alerts to return
        in: query
        name: limit
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      summary: Get cost alerts and notifications
  /v1/costs:
    get:
      parameters:
      - description: Start date (YYYY-MM-DD)
        in: query
        name: start_date
        required: true
        schema:
          type: string
      - description: End date (YYYY-MM-DD)
        in: query
        name: end_date
        required: true
        schema:
          type: string
      - description: Data granularity (daily, monthly)
        in: query
        name: granularity
        required: false
        schema:
          type: string
      - description: Filter by AWS service
        in: query
        name: service
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      summary: Get cost data for a specific time period
  /v1/forecasts:
    post:
      parameters:
      - description: Forecast period in days
        in: query
        name: forecast_period
        required: true
        schema:
          type: integer
      - description: Confidence level (0.0-1.0)
        in: query
        name: confidence_level
        required: false
        schema:
          type: number
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      summary: Generate cost forecasts
  /v1/optimizations:
    get:
      parameters:
      - description: AWS account ID
        in: query
        name: account_id
        required: false
        schema:
          type: string
      - description: Filter by priority (high, medium, low)
        in: query
        name: priority
        required: false
        schema:
          type: string
      - description: Filter by optimization type
        in: query
        name: type
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      summary: Get optimization recommendations
servers:
- description: Production server
  url: https://api.cost-optimizer.com
