name: Deploy AWS Cost Optimizer
on:
  push:
    branches: [main]
env:
  AWS_REGION: us-east-1
  ECR_WEB_URI: ${{ secrets.ECR_WEB_URI }}
  ECR_API_URI: ${{ secrets.ECR_API_URI }}
  ECS_CLUSTER: aws-cost-optimizer-dev-cluster
  ECS_SVC_WEB: aws-cost-optimizer-dev-web
  ECS_SVC_API: aws-cost-optimizer-dev-api
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: { id-token: write, contents: read }
    steps:
      - uses: actions/checkout@v4
      - uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}
      - uses: aws-actions/amazon-ecr-login@v2
      - name: Build & push web
        run: |
          docker build -t $ECR_WEB_URI:latest web-app
          docker push $ECR_WEB_URI:latest
      - name: Build & push api
        run: |
          docker build -t $ECR_API_URI:latest api
          docker push $ECR_API_URI:latest
      - name: Force new deployments
        run: |
          aws ecs update-service --cluster $ECS_CLUSTER --service $ECS_SVC_WEB --force-new-deployment
          aws ecs update-service --cluster $ECS_CLUSTER --service $ECS_SVC_API --force-new-deployment